[submodule "bambi-admin-web"]
	path = bambi-admin-web
	url = https://github.com/hk-toss-final-project/bambi-admin-web.git

[submodule "bambi-agent-api"]
	path = bambi-agent-api
	url = https://github.com/hk-toss-final-project/bambi-agent-api.git

[submodule "bambi-build"]
	path = bambi-build
	url = https://github.com/hk-toss-final-project/bambi-build.git

[submodule "bambi-clipper"]
	path = bambi-clipper
	url = https://github.com/hk-toss-final-project/bambi-clipper.git

[submodule "bambi-service-api"]
	path = bambi-service-api
	url = https://github.com/hk-toss-final-project/bambi-service-api.git

[submodule "bambi-service-web"]
	path = bambi-service-web
	url = https://github.com/hk-toss-final-project/bambi-service-web.git
[submodule "clipping-data"]
	path = clipping-data
	url = https://github.com/hk-toss-final-project/clipping-data.git

[submodule "loadtest"]
	path = loadtest
	url = https://github.com/hk-toss-final-project/loadtest.git
